In [2]:
Subject1 = int(input("Enter marks of the first subject"))
Subject2 = int(input("Enter marks of the second subject"))
Subject3 = int(input("Enter marks of the third subject"))
Subject4 = int(input("Enter marks of the fourth subject"))
Subject5 = int(input("Enter marks of the fifth subject"))
Total = (Subject1+Subject2+Subject3+Subject4+Subject5) % 5
if (Total >=90) :
    print("Grade: A")
elif (Total >=80 & Total <90) :
    print ("Grade: B")
elif (Total >=70 & Total <80) :
    print ("Grade: C")
elif (Total >=60 & Total <70) :
    print ("Grade: D")
else :
    print ("Grade: F")

Enter marks of the first subject78
Enter marks of the second subject89
Enter marks of the third subject98
Enter marks of the fourth subject76
Enter marks of the fifth subject98
Grade: B

In [4]:
num=int(input("Enter a number"))
mod=num % 2
if mod >0 :
    print ("Even")
else :
    print ("Odd")

Enter a number6
Odd

In [5]:
arr= [1 , 2 , 3 , 4 , 5 , 6]
list_length= len(arr)
print (list_length)

6

In [6]:
arr= [1 , 2 , 3 , 4 , 5 , 6]
sum (arr)

21

In [7]:
arr= [1 , 2 , 3 , 4 , 5 , 6]
max (arr)

6

In [33]:
a= [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
       print(i)

1
1
2
3